/*      GOOGLE FONTS        */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*      VARIABLE CSS        */
:root {
    --header-height: 3rem;
    --font-semi: 600;
}

/*      COLORS      */
:root {
    --second-color: #81A1C1;

    /*
    for light/dark mode:
    */
    --first-color: #7474e2;
    
    --primary-color: #ffffff;
    --secondary-color: #f5f5f5;
    --font-color: black;

    --lighterblue-color: #F0F8FF;
    --homeblue-color: #90c5fa;    
    --homepink-color: #fa38a6;

    --portfolioback-color: #a2d5f7;
    --portfolioinfo-color: #F0F8FF;
}

.dark-theme {
    --first-color: #bd93f9;
    --primary-color: #3B4252;
    --secondary-color: #383f4e;
    --font-color: white;

    --lighterblue-color: #3B4252;
    --homeblue-color: #375380;
    --homepink-color: #ff79c6;

    --portfolioback-color: #375380;
    --portfolioinfo-color: #2E3440;
}

/*      TEXT DISPLAY ON SCREEN      */
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}
@media screen and (min-wdith: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}

/*      MARGINS     */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*      BASE        */
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--font-color);
}

main {
    background-color: var(--secondary-color);
    transition: 1s;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*      CSS FOR CLASSES      */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*      LAYOUT      */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--primary-color);
    box-shadow: 0 3px 9px rgba(8, 33, 30, .15);
    transition: 1s;
}

/*      NAVBAR      */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav_item {
    margin-bottom: var(--mb-4);
}

.nav_link {
    position: relative;
    color: var(--font-color);
}

.nav_link:hover {
    position: relative;
}

.nav_link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav_logo {
    color: var(--first-color);
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    transition: .5s;
    font-size: 1.4em;
}

.nav_toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

#dark_light_icon {
    cursor: pointer;
    width: 2rem;
}

/*      END OF NAVBAR SECTION        */

/*      ACTIVE MENU       */
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*      SHOW MENU(JS)       */
.show {
    right: 0;
}

/*      HOME        */  
.home_container {
    width: 100%;
    transition: 1s;
    background-color: var(--homeblue-color);
    height: 100vh;
    padding-bottom: 0rem;
}
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data {
    align-self: center;
}

.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home_title-color {
    color: var(--first-color);
}

.home_social {
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.home_social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 3rem;
    color: var(--homepink-color);
    transition: .5s;
}

.home_social-icon:hover {
    color: var(--first-color);
    transform: scale(115%);
}

.home_img {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    width: 250px;
}

.home_img img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/*      BUTTONS        */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    border-radius: .5rem;
    border: 1px solid black;
    transition: .5s;
    font-size: 1rem;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
    transform: scale(105%);
}

/*      CURVE     */
.custom-shape-divider-top-1631953625 .shape-fill{
    transition: 1s;
    fill: var(--homeblue-color);
    padding-bottom: -5rem;
}
/*      END OF CURVES       */

/*      ABOUT       */

.about_container {
    row-gap: 2rem;
    text-align: center;
}

.about_subtitle {
    margin-bottom: var(--mb-2);
    color: black;
}

.about_img {
    justify-self: center;
}

.about_img img {
    width: 200px;
    border-radius: .5rem;
    border: 2px solid black;
}

.about_info {
    background-color: #A7C7E7;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
}

.about_info p {
    background-color: var(--lighterblue-color);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    text-align: left;
    line-height: 2rem;
}

.linkedin_section {
    margin-top: 4rem;
    margin-bottom: -3rem;
    text-align: center;
}

.linkedin_button {
    transition: .5s;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #8be9fd, #743ad5);
}

.linkedin_button:hover {
    transform: scale(100%);
    background-color: #A7C7E7;
    color: black;
}

/*      SKILLS & RESUME     */
.skills-subtitle {
    margin-bottom: var(--mb-4);
}

.skills_container {
    row-gap: 2rem;
}

.skill_part {
    text-align: center;
    vertical-align: middle;
    background-color: pink;
    padding: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
    color: black;
    transition: .5s;
}

.skill_part:hover {
    transform: scale(105%);
}

.skill_part img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resume_section {
    margin-top: 4rem;
    margin-bottom: -3rem;
    text-align: center;
}

.resume_button {
    transition: .5s;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #ff007f);
}

.resume_button:hover {
    transform: scale(100%);
    background-color: pink;
    color: black;
}

.skill_name {
    padding: 1rem;
    text-decoration: underline;
    font-size: 1.1rem;
}

.skill_description {
    background-color: #FFF0F5;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    text-align: left;
    font-size: 14px;
}

/*      PORTFOLIO        */
.portfolio_img {
    width: 200px;
    margin: auto;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    transition: .5s;
}

.portfolio_img:hover {
    transform: scale(110%);
}

.portfolio_container {
    row-gap: 2rem;
}

.portfolio_work {
    transition: .25s;
    background-color: var(--portfolioback-color);
    padding: 2rem;
    border: 2px solid black;
}

.portfolio_name {
    padding: 1rem;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.portfolio_access {
    border: 1px solid black;
    background-color: var(--portfolioinfo-color);
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
}

.portfolio_description {
    text-align: left;
    line-height: 2rem;
}

.portfolio_description_bold {
    font-weight: bold;
    text-decoration: underline;
}

.portfolio_button {
    margin-top: 2rem;
    transition: .5s;
    border-radius: 2rem;
    background-color: var(--portfolioback-color);
    color: var(--font-color);
}

.portfolio_button:hover {
    transform: scale(100%);
    color: white;
    background-color: var(--first-color);
}


/*      CONTACT     */
.contact_input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    font-family: var(--body-font);
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid black;
    outline: none;
    margin-bottom: var(--mb-4);
    resize: none;

}

.contact_button {
    display: block;
    border: 1px solid black;
    outline: none;
    font-size:var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
    background-color: #81f08e;
    color: black;
}

.contact_button:hover {
    transform: scale(100%);
}

#contact_about {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.1rem;
}

#contact_email {
    text-decoration: underline;
    font-weight: bold;
    color: #ff79c6;
}

#contact_email:after {
    color: #ff79c6;
}

#contact_email:hover {
    color: var(--first-color);
}

/*      FOOTER      */
.footer {
    background-color: var(--second-color);
    color: #ffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer_title {
    font-size: 2rem;
    margin-bottom: var(--mb-2);
    color: #375380;
}
.footer_title-2 {
    font-size: 1rem;
    margin-bottom: var(--mb-4);
}

.footer_social {
    margin-bottom: var(--mb-4);
}

.footer_icon {
    font-size: 1.9rem;
    color: #375380;
    margin: var(--mb-2);
}

/*      MEDIA QUERIES       */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: var(--mb-6);
    }
    .section-title::after {
        width: 80px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav_list {
        display: flex;
        padding-top: 0;
    }
    .nav_item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav_toggle {
        display: none;
    }
    .nav_link {
        color: var(--font-color);
    }
    .home {
        height: 100vh;
    }
    .home_data {
        align-self: flex-end;
    }
    .home_social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home_social-icon { 
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home_img {
        width: 460px;
        bottom: 15%;
        right: 9rem;
    }
    .about_main_container {
        margin-top: -4rem;
    }

    .about_container .skills_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
    .about_img img {
        width: 300px;
    }
    .skills_container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }
    .contact_form {
        width: 450px;
        border-radius: .5rem;
        border: 3px solid black;
        padding: 3rem;
        background-color: #b19cd9;
    }
    .contact_container {
        justify-items: center;
    }

    .portfolio_container {
        align-items: center;
        text-align: initial;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home_img {
        right: 10%;
    }
}

@media screen and (max-width: 320px) {
    .about_info p {
        font-size: .8rem;
    }
    .home_title {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 345px) {
    .home_img img {
        width: 70%;
        right: 1rem;
    }

    .portfolio_description {
        font-size: .8rem;
    }
}

@media screen and (max-width: 340px){
    .home_img img {
        width: 0%;
    }
}

@media screen and (max-height: 610px) {
    .home_img img {
        margin-bottom: -2rem;
    }
    .home_title {
        margin-bottom: var(--mb-5);
    }
}